@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url(/assets/fonts/inter-normal.woff2);
}

@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src: url(/assets/fonts/inter-italic.woff2);
}

@font-face {
    font-family: "Merriweather";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url(/assets/fonts/merriweather-normal.woff2);
}

@font-face {
    font-family: "Merriweather";
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src: url(/assets/fonts/merriweather-italic.woff2);
}
